# Ignore VS Code configuration and extensions folders
.vscode/

# Ignore Python byte-compiled files (.pyc, .pyo)
*.py[c]
__pycache__/

# Ignore log files
*.log

# Ignore .mp4 files
*.mp4
*.png
*.pt

# Ignore stored generated data
generated_data